
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #707070;

}
.accent{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.topcont{
    align-items: center;
    
}
.top-left{
    color: #575757;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-right: 0;
   
}
.top-left p{
    font-size:20px;
    font-weight: 500;
    line-height: 160%;
    color: #828282;
    letter-spacing: -0.02em;
}
.link-button{
    padding: 24px 32px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    margin-top: 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    

}
.topimg{
    width: 50%;
    padding-right: 100px;
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 100px;
}

.abtimg{
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.abttext{
    width: 50%;
    padding-right: 8%;
    padding-top: 8%;
}
.descrip{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}
.recipes{
    display: block;
}
.recipe-text{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.card-cont{
    display:flex;
    justify-content: center;
    margin-left:10%;
    margin-right: 10%;
}
.card{
    display: block;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 25px 25px 5px 25px;
    margin-left:20px;
}
.card-img{
    padding: 2px 2px 2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.social{
    justify-content: space-between;
    margin-left:10%;
    margin-right: 10%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 2% 7% 2% 7%;
}

.socialtext h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}
footer{
    text-align: center;
    color:aliceblue;
    display: block;
    background-color: #18191F;
    padding-bottom: 7%;
    padding-top: 1%;

}